<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> {{- $title := ( .Title ) -}} {{- $siteTitle := ( .Site.Title ) -}} {{- if .IsHome -}}
    <title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
    {{- else -}}
    <title>{{ $title }} - {{ $siteTitle }}</title>
    {{- end -}}
    <meta name="description" content=" {{ .Site.Params.description }} ">
    <link rel="icon" type="image/png" href="/favicon.ico" />


    <meta name="viewport" content="width=device-width, initial-scale=1"> {{ with .OutputFormats.Get "rss" -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}} {{- template "_internal/schema.html" . -}} {{- template "_internal/opengraph.html" . -}} {{- template "_internal/twitter_cards.html" . -}}
    <link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0,1&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0,1&display=swap');
    </style>

    <meta property="og:image" content="/share-card.jpg">


    <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" /> {{- if isset .Site.Params "customcss" }}
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customCSS }}" /> {{ end }}

    <link id="dark-scheme" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/dark.css" /> {{- if isset .Site.Params "customdarkcss" }}
    <link id="dark-scheme" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customDarkCSS }}" /> {{- end }} {{ if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    {{- else if or (isset .Site.Params "social") (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
    <script src="{{ .Site.BaseURL }}js/feather.min.js"></script>
    {{ end }}
    <script src="{{ .Site.BaseURL }}js/main.js"></script>
    {{- if isset .Site.Params "customjs" -}} {{- range .Site.Params.customJS }}
    <script src="{{ $.Site.BaseURL }}{{ . }}"></script>{{- end }} {{- end }}

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>