<section id="servicios">

    <div class="line line-2" data-aos="fade-in" data-aos-duration="2000">
        {{ readFile "static/line-2.svg" | safeHTML }}
    </div>
    <div class="ascii ascii-home ascii-home-0" data-aos="fade-left" data-aos-duration="1000">
        {{ partial "ascii-home/ascii-0.html" . }}
    </div>
    <div class="servicios-wrap">
        <img class="fortada" src="/static/share-card.jpg" />

        <div class="blob-wrapper">
            <div class="blob-width">
                <div id="blob-1" class="blob">
                    {{ partial "blob-1.svg" . }}
                </div>
            </div>
            <div class="blob-width">
                <div id="blob-2" class="blob">
                    {{ partial "blob-1.svg" . }}
                </div>
            </div>
        </div>

        <div class=" servicios-wrapper content" data-aos="fade-up" data-aos-duration="2000">

            <h2 class="section-title"> {{ .Params.servicios }} <span class="flechas d-none">⟵ &nbsp;&nbsp; ⟶  </span></h2>
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->

                    {{ $section := "servicios" }}

                    <!-- Slides -->
                    {{ $.Scratch.Set "counter" 0 }} {{ range (where .Site.RegularPages.ByWeight "Section" $section ) }}
                    <div class="swiper-slide servicios">
                        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }} {{ $numero := string ($.Scratch.Get "counter") }} {{ $widget := (printf "%s%s" "ascii-servicios/ascii-" $numero ) }} {{ $partialurl := (printf $widget ".html" ) }}
                        <div class=" texto-slide texto-slide-{{ $numero }}">
                            {{ .Content }}
                        </div>
                        <div class="ascii-slide ascii ascii-slide-{{ $numero }}">
                            {{ partial $widget . }}
                        </div>
                    </div>
                    {{ end }}


                </div>
                <div class="swiper-button-prev d-none"></div>
                <div class="swiper-button-next d-none"></div>

            </div>

            <script>
                var swiper = new Swiper(".swiper-container", {
                    slidesPerView: 1,
                    effect: 'fade',
                    fadeEffect: {
                        crossFade: true
                    },

                    autoplay: {
                        delay: 4000,
                    },
                    loop: true
                });

                function next() {
                    if (data[swiper.realIndex + 1]) {
                        swiper.slideNext(500)
                    } else {
                        swiper.slideToLoop(0)
                    }
                }

                function prev() {
                    if (data[swiper.realIndex - 1]) {
                        swiper.slidePrev(500)
                    } else {
                        swiper.slideToLoop(data.length - 1)
                    }
                }
            </script>

        </div>

    </div>

    <div class="ascii ascii-home ascii-home-2" data-aos="fade-right" data-aos-duration="1500">
        {{ partial "ascii-home/ascii-2.html" . }}
    </div>

    <div class="line line-3" data-aos="fade-right" data-aos-duration="1000">
        {{ readFile "static/line-3.svg" | safeHTML }}
    </div>



</section>

