<section id="somos">
    <div class="foto-container" data-aos="fade-up" data-aos-duration="2000">
        <img class="foto-con-marco" src="https://raw.githubusercontent.com/eenyakee/Agencia-Letreherida/9886bf830bcd6c01b505d47c32329252c285c471/themes/eenyakee/static/letraherida_imagen.png" />
    </div>

    <div class="blob-wrapper">
        <div class="blob-width">
            <div id="blob-1" class="blob">
                {{ partial "blob-1.svg" . }}
            </div>
        </div>
    </div>


    <div class="somos-wrapper content">
        {{ $section := "somos" }} {{ range (where .Site.RegularPages.ByTitle "Section" $section ) }}
        <h2 class="section-title"> {{ .Title }}</h2>

        <div class="ascii ascii-home ascii-home-3" data-aos="fade-right" data-aos-duration="2000">
            {{ partial "ascii-home/ascii-3.html" . }}
        </div>
        <div class="somos-texto" data-aos="fade-up" data-aos-duration="1000">

            {{ .Content }}

            <iframe src="https://open.spotify.com/embed/episode/3CGrnXOSjQHvPi4f0jErMa" width="100%" height="232" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        </div>

    </div>
    {{ end }}
    <div class="ascii ascii-home ascii-home-1" data-aos="fade-left" data-aos-duration="2000">
        {{ partial "ascii-home/ascii-1.html" . }}
    </div>
    <div class="line line-7" data-aos="fade-up" data-aos-duration="1000">
        {{ readFile "static/line-7.svg" | safeHTML }}
    </div>







</section>