<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark") -}}class="dark" {{ end }}>
{{ partial "header.html" . }}

<body>


    {{ partial "head.html" . }}
    <div class="scroll-container">
        {{ partial "portada.html" . }} {{ partial "fixed-menu.html" . }} {{ partial "servicios.html" . }} {{ if .Params.seccionCaseStudy }} {{ partial "trabajos.html" . }} {{end}} {{ partial "manifiesto.html" . }} {{ partial "somos.html" . }} {{ partial "clientes.html"
        . }}

    </div>
    {{ partial "footer.html" . }}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>