<pre>
               ___,-----.___
            ,--'            `--.
          /                     \
         /                       \
        |                         |
        |                         |
        |       |~~~~~~~~~|       |
        |        \        /       |
        |         \      /        |
         \         \    /        /
          \        |   |        /
           \       |   |       /
            \      |   |      /
             \     |   |     /
              \____|___| ___/
              )___,-----'___(
              )___,-----'___(
              )___,-----'___(
              )___,-----'___(
              \_____________/
                  \___/

                      </pre>