<pre>
         )         
          (            
        '  }      
      (    '      
     '      (   
      )  |    ) 
    '   /|\    `
   )   / | \  ` )   
  {    | | |  {   
 }     | | |  .
  '    | | |    )
 (    /| | |\    .
  .  / | | | \  (
}    \ \ | / /  .        
 (    \ `-' /    }
 '    / ,-. \    ' 
  }  / / | \ \  }
 '   \ | | | /   } 
  (   \| | |/  (
    )  | | |  )
    .  | | |  '
       J | L
 /|    J_|_L    |\
 \ \___/ o \___/ /
  \_____ _ _____/
        |-|
        |-|
        |-|
       ,'-'.
       '---'    
                     </pre>