<pre>
                    ______
                 .-'      `-.
               .'          __ `.
              /           |__| \
             ;                 ;\
            |                  |;\
            ;                  ;| \
             ;                 ;|  \
             '\               / ;   \
              \`.           .' /     \
               `.`-._____.-' .'       \
                 / /`_____. '          \
                / / / \                 \
               / / /   '\                \
              / / /      '\               \
             / / /         '\              \
            / / /            '\             \
           / / /               '\            \
          / / /                  '\           \     (             )
         / / /                     '\          \     (    (      )
        / / /                        '\         \     (      )  )
        \/_/                           '\        \     (      )
                                         '\       \    (  (  )
                                           '\      \    (     )
                                             '\     \    (    )
                                               '\    \    (   )
                                                 '\   \    ) )
                                                   '\  \   () 
                                                     '\ \ ()   
                                                       '\\( 
                     </pre>