@font-face {
    font-family: 'Letraherida';
    src: url('GT-Flexa-GX.woff2') format('woff2-variations');
    font-style: oblique 0deg 100deg;
}

* {
    cursor: url(cursor-1.png), auto;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
}

body {
    font-family: 'Letraherida', sans-serif;
    font-weight: 350;
    color: #ff5252;
    line-height: 1.8em;
    font-size: 24px;
    overflow-x: hidden;
    line-height: 1.3;
    max-width: 100vw;
}

a {
    text-decoration: none;
    word-break: break-word;
    color: #ff5252;
    transition: font-variation-settings 0.6s ease-in;
    font-variation-settings: "ital" 0;
}

.section-title {
    font-size: 24px;
}

a:hover {
    font-variation-settings: "ital" 100;
    transition: font-variation-settings 0.2s ease-in;
    color: #ff5252;
    cursor: url(cursor-2.png), auto;
}

::-moz-selection {
    background: #ff5252;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #ff5252;
    text-shadow: none;
    color: #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ff5252;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}


/* Type */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.3em;
    margin: 30px 0 20px 0;
}

h1,
.h1 {
    font-size: 66px;
    line-height: 1;
}

h2,
.h2 {
    font-size: 32px;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

@media (max-width: 992px) {
    h1,
    .h1 {
        font-size: 60px
    }
    h2,
    .h2,
    h3,
    .h3 {
        font-size: 28px;
    }
    body {
        font-size: 21px;
    }
}

@media (max-width: 768px) {
    h1,
    .h1 {
        font-size: 54px
    }
    h2,
    .h2,
    h3,
    .h3 {
        font-size: 24px;
    }
    body {
        font-size: 18px;
        font-weight: 300;
    }
}

@media (max-width: 576px) {
    h1,
    .h1 {
        font-size: 48px;
    }
    h2,
    .h2,
    h3,
    .h3 {
        font-size: 21px;
    }
    body {
        font-size: 16px;
        font-weight: 300;
    }
}


/* General Styles */

.content {
    padding: 0 5vw;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.d-none {
    display: none;
}

@media (max-width: 768px) {
    .d-none-small {
        display: small;
    }
    .scroll-container {
        overflow: hidden;
    }
}


/* Blobs */

section {
    overflow-y: visible;
    overflow-x: hidden;
}

.blob-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    overflow-y: visible;
}

.blob {
    width: 50vmax;
    animation: move 30s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.blob {
    width: 50vmax;
    animation: move 30s ease-in-out infinite;
    transform-origin: 50% 50%;
}

@keyframes move {
    0% {
        transform: scale(1) translate(10px, -30px) translateZ(0) opacity(0.5);
    }
    38% {
        transform: scale(0.8, 1) translate(80%, 30vh) rotate(160deg);
    }
    78% {
        transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg) opacity(1);
    }
    100% {
        transform: scale(1) translate(10px, -30px) translateZ(0) opacity(0.5);
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .blob-wrapper {
        overflow-x: hidden;
    }
}

@media (max-width: 576px) {}


/* Lines */

.line path {
    stroke-width: 1px;
}

.line {
    position: absolute;
    display: flex;
    width: 100vw;
    z-index: -100;
}

.line svg {
    max-width: 90vw;
    margin: 0 auto;
}

.line-1 {
    max-height: 35vh;
    transform: translateY(10vw) translateX(30vw) rotate(12deg);
}

.line.line-2 {
    transform: translateY(0vw) translateX(0vw);
    height: 50vw;
}

.line-2 svg {
    margin: 0 auto 0 15vw;
}

.line-3 {
    max-width: 80vw;
    position: relative;
    left: 10%;
}

.line-5 {
    position: relative;
    width: 25%;
    height: 50vw;
    max-height: 110vh;
    top: -10vw;
}

.line-6 {
    position: relative;
    top: 10vw;
    width: 100%;
    padding: 0 10%;
}

.line-7 {
    width: 100%;
    padding: 0 15%;
    top: -5vw;
    position: relative;
}

@media (max-width: 992px) {
    .line.line-2 {
        height: 60vw;
    }
    .line-2 svg {
        margin: 0 auto 0 10vw;
    }
}

@media (max-width: 768px) {
    .line-1 {
        max-height: 35vh;
        transform: translateY(55vw) translateX(22vw) rotate(30deg);
    }
    .line.line-2 {
        height: 70vw;
    }
    .line-3 {
        width: 80%;
        right: 10%;
        margin: 10vw 0 35vw 0;
    }
    .line-7 {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .line.line-2 {
        height: 80vw;
    }
    .line-2 svg {
        margin: 0 auto 0 5vw;
    }
    .line-3 {
        width: 100%;
        right: 0%;
    }
    .line-5 svg {
        transform: scaleY(3) translateY(15vw);
        transform-origin: top;
    }
    .line-7 {
        width: unset;
        height: 70vh;
    }
}


/* Ascii */

.ascii pre {
    font-family: 'Recursive', monospace;
    font-variation-settings: "slnt" -15, "CASL" 1;
    animation: ascii 3s ease-in-out infinite;
    line-height: 1.1;
    overflow: visible;
    font-size: 16px;
}

.ascii-home {
    position: absolute;
    z-index: -50;
}

.ascii-home-0 {
    transform: scale(0.9);
    right: 5vw;
}

.ascii-home-0 pre {
    position: relative;
    top: -3vw;
}

.ascii-home-1 {
    transform: scale(1.2);
    padding-top: 5vw;
    right: 10vw;
}

.ascii-home-1 pre {
    position: relative;
    top: 15vw;
}

.ascii-home-2 {
    right: 10vw;
}

.ascii-home-2 pre {
    position: relative;
    top: 20vw;
}

.ascii-home-4 {
    min-height: 50vw;
    position: relative;
    display: flex;
}

.ascii-home-4 pre {
    margin: auto;
}

.ascii-home-5 {
    right: 10%;
}

.ascii-home-4 pre {
    margin: auto;
}

.ascii-home-6 {
    position: relative;
    top: -10vw;
    right: -20vw;
    height: 30vw;
}

@keyframes ascii {
    0% {
        font-variation-settings: "slnt" 0, "CASL" 1;
    }
    50% {
        font-variation-settings: "slnt" -15, "CASL" 0;
    }
    100% {
        font-variation-settings: "slnt" 0, "CASL" 1;
    }
}

@media (max-width: 992px) {
    .ascii pre {
        font-size: 14px;
    }
    .ascii-home-0 pre {
        top: -10vw;
    }
    .ascii-home-1 {
        padding-top: 20vw;
    }
    .ascii-home-1 pre {
        top: 10vw;
    }
}

@media (max-width: 768px) {
    .ascii pre {
        font-size: 13px;
    }
    .ascii-home-0 pre {
        top: -20vw;
    }
    .ascii-home-1 pre {
        top: 10vw;
    }
    .ascii-home-1 {
        padding-top: 10vw;
    }
    .ascii-home-2 {
        right: 0vw;
        margin-top: 50px;
    }
    .ascii-home-2 pre {
        font-size: 10px !important;
        margin-top: 20vw;
    }
    .ascii-home-4 {
        padding: 27vw 0;
    }
    .ascii-home-4 pre {
        font-size: 7px !important;
    }
    .ascii-home-5 {
        position: static;
    }
    .ascii-home-5 pre {
        font-size: 8px !important;
    }
    .ascii-home-1 {
        position: static;
        transform: unset;
    }
    .ascii-home-6 {
        position: relative;
        top: -20vw;
        right: -10vw;
        height: 40vw;
    }
}

@media (max-width: 576px) {
    .ascii pre {
        font-size: 12px;
    }
    .ascii-home-0 pre {
        top: -30vw;
    }
    .ascii-home-1 pre {
        font-size: 12px;
    }
    .ascii-home-6 {
        position: relative;
        top: -51vw;
        right: 4vw;
        height: 40vw;
    }
    .ascii-home-6 pre {
        font-size: 10px;
    }
}


/****  CONTENT *****/


/* Header */

.header {
    position: absolute;
    width: 100%;
}

.logo-wrapper {
    text-align: center;
    margin-top: 3vw;
}

.logo-wrapper svg {
    min-width: 260px;
    width: 60vw;
    height: 50px;
}

.idiomas {
    right: 0;
    position: absolute;
    top: 3.5vw;
    padding: 0 5vw 0 0;
}

.idiomas a {
    display: block;
}


/* Fixed nav  */

.nav-fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    height: 40px;
    z-index: 3000;
}

.nav-fixed ul {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    list-style: none;
    padding: 0;
    margin: 5px 0;
}


/* Portada */

.portada-wrap {
    height: 100vh;
}

.content-portada {
    height: 95%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.content-portada h1 {
    margin-top: 2vw;
    margin-bottom: 0;
    max-width: 480px;
}

.copy-centro-portada {
    line-height: 1;
    margin: auto;
    margin-top: 100px;
    width: calc( 300px + 20vw);
    text-transform: uppercase;
    font-size: 125%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40vh;
    max-height: 450px;
    ;
}

.copy-centro-portada .claim-1 {
    margin: 0 auto 0 0;
    display: inline-block;
}

.copy-centro-portada .claim-2 {
    margin: 0 auto;
    display: inline-block;
}

.copy-centro-portada .claim-3 {
    margin: 0 0 0 auto;
    display: inline-block;
}

.copy-centro-portada h1 {
    margin: 0;
}

.portada-bottom {
    display: flex;
    align-items: flex-end;
    padding-bottom: 3vw;
    flex-wrap: wrap;
}

.portada-bottom nav {
    min-width: 50%;
}

.portada-bottom ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    flex-wrap: wrap;
}

.contacto {
    margin: 0 5vw 0 auto;
}

.contacto p {
    margin: 0;
}

.portada-bottom li {
    display: inline-block;
    padding: 0 3vw 0 0;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .contacto {
        flex-grow: 2;
        margin: 0;
        order: 1;
        padding: 20px 0 10px 0;
    }
    .contacto p {
        display: inline-block;
        line-height: 1;
    }
    .nav {
        order: 2;
    }
    .portada-bottom li {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .copy-centro-portada {
        min-height: 30vh;
        margin-top: 43%;
        width: unset;
    }
    .nav {
        width: 100%;
    }
    .nav li {
        padding: 0 0 5px 0;
        border-bottom: 1px solid #ff5252;
    }
}

@media (max-width: 576px) {
    .idiomas {
        padding: 3vw 7vw;
        display: flex;
        justify-content: space-between;
        position: static;
    }
    .copy-centro-portada {
        display: block;
    }
    .copy-centro-portada h1 {
        text-align: center;
        display: block !important;
    }
}


/* Servicios slides */

#servicios {
    min-height: 125vw;
    padding: 5vw 0 0 0;
}

.flechas {
    padding: 0 0 0 50px;
    letter-spacing: 2px;
}

.servicios-wrap {
    padding: 40vw 0 50px 0;
}

#servicios .section-title {
    margin-top: auto;
}

.servicios-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}

.swiper-container {
    height: 100%;
    margin: auto 0;
    width: 100%;
    overflow: visible !important;
}

.swiper-container div,
.swiper-container p,
.swiper-container pre {
    cursor: url(grab-cursor.png), auto !important;
    overflow: visible;
}

.swiper-container .swiper-slide {
    display: flex;
    max-height: 70vh;
    margin: auto 0;
}

.texto-slide {
    margin: auto 0;
    max-width: 600px;
}

.texto-slide-1,
.texto-slide-2,
.texto-slide-4,
.texto-slide-5,
.texto-slide-7 {
    font-size: 9vw;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    position: absolute !important;
    bottom: 0;
    top: unset;
}

.ascii-slide {
    position: absolute;
    right: 0
}

.ascii-slide-1 {
    top: -10%;
}

.ascii-slide-3 {
    right: 10%;
    top: -20%;
    line-height: 1;
}

.ascii-slide-5 {
    top: 30%;
}

.ascii-slide-6 {
    top: 30%;
}

@media (max-width: 1350px) {
    #servicios {
        min-height: 145vw;
    }
}

@media (max-width: 992px) {
    #servicios {
        min-height: 180vw;
    }
    .servicios-wrap {
        padding: 50vw 0 50px 0;
    }
    .swiper-container .swiper-button-next::after,
    .swiper-container .swiper-button-prev::after {
        font-size: 21px;
    }
}

@media (max-width: 768px) {
    #servicios {
        min-height: 230vw;
        padding: 0 0 52vw 0;
    }
    .servicios-wrap {
        padding: 70vw 0 0 0;
    }
    .swiper-container .swiper-slide {
        max-height: 100vh;
        margin: 0;
        height: 70vh;
    }
    .texto-slide {
        margin: 0;
        align-self: flex-start;
    }
    .texto-slide p {
        margin: 0;
        align-self: flex-start;
    }
    .texto-slide-1,
    .texto-slide-2,
    .texto-slide-4,
    .texto-slide-5,
    .texto-slide-7 {
        font-size: 17vw;
    }
    .ascii-slide {
        bottom: 0;
        top: unset;
    }
    .ascii-slide pre {
        font-size: 9px;
    }
}

@media (max-width: 576px) {
    #servicios {
        min-height: 330vw;
        padding-top: 20vw;
    }
    .swiper-container .swiper-slide {
        flex-wrap: wrap;
    }
    .texto-slide {
        width: 100%;
    }
    .servicios-wrap {
        padding: 90vw 0 0px 0;
    }
}


/* Case study */

#trabajos {
    min-height: 100vw;
}

.trabajos-wrapper {
    padding-top: 5vw;
}

.trabajos-content {
    display: flex;
    flex-direction: column;
}

.tabs {
    margin: 0 0 25px 0;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: transparent;
    display: inline-block;
    border: 1px solid #ff5252;
}

.panels {
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.panel-content {
    border: 1px solid #ff5252;
    display: flex;
}

.panel-title {
    margin-bottom: 20px;
}

.panel-subtitle {
    margin-bottom: 20px;
}

.panel-left {
    font-variation-settings: "ital" 100;
    text-align: center;
    width: 34%;
    padding: 2vw 0vw;
    height: 60vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
}

.panel-left .swiper-slide {
    display: flex;
}

.panel-left .swiper-slide p {
    height: auto;
    margin: auto;
    max-width: 300px;
    padding: 0 5px;
}

.panel-right {
    border-right: 1px solid #ff5252;
    width: 66%;
    padding: 2vw 2vw;
    height: 60vh;
    overflow: hidden;
    font-size: 75%;
    line-height: 1.1;
}

.swiper-container-2 {
    height: 100%;
}

.arrow-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 2vw;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
    color: unset !important;
}

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after {
    content: '⟶' !important;
}

.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-next::after {
    content: '⟵' !important;
}

.panel-right p {
    max-width: 550px;
}

.panel {
    display: none;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.panel-title {
    font-weight: bold
}

.radio {
    display: none;
}

#input-1:checked~.panels #panel-1,
#input-2:checked~.panels #panel-2,
#input-3:checked~.panels #panel-3,
#input-4:checked~.panels #panel-4,
#input-5:checked~.panels #panel-5,
#input-6:checked~.panels #panel-6,
#input-7:checked~.panels #panel-7,
#input-8:checked~.panels #panel-8,
#input-9:checked~.panels #panel-9,
#input-10:checked~.panels #panel-10,
#input-11:checked~.panels #panel-11,
#input-12:checked~.panels #panel-12,
#input-13:checked~.panels #panel-13,
#input-14:checked~.panels #panel-14,
#input-15:checked~.panels #panel-15,
#input-16:checked~.panels #panel-16,
#input-17:checked~.panels #panel-17,
#input-18:checked~.panels #panel-18,
#input-19:checked~.panels #panel-19,
#input-20:checked~.panels #panel-20 {
    display: block
}

#input-1:checked~.tabs #tab-1,
#input-2:checked~.tabs #tab-2,
#input-3:checked~.tabs #tab-3,
#input-4:checked~.tabs #tab-4,
#input-5:checked~.tabs #tab-5,
#input-6:checked~.tabs #tab-6,
#input-7:checked~.tabs #tab-7,
#input-8:checked~.tabs #tab-8,
#input-9:checked~.tabs #tab-9,
#input-10:checked~.tabs #tab-10,
#input-11:checked~.tabs #tab-11,
#input-12:checked~.tabs #tab-12,
#input-13:checked~.tabs #tab-13,
#input-14:checked~.tabs #tab-14,
#input-15:checked~.tabs #tab-15,
#input-16:checked~.tabs #tab-16,
#input-17:checked~.tabs #tab-17,
#input-18:checked~.tabs #tab-18,
#input-19:checked~.tabs #tab-19,
#input-20:checked~.tabs #tab-20 {
    background: #ff5252;
    color: #ffffff;
    border: 1px solid #ff5252;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .panel-left {
        width: 40%;
    }
    .panel-right {
        width: 60%;
    }
    .swiper-container-2 .arrow-container div::after {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .panel-left {
        line-height: 1.2;
    }
}


/* MANIFIESTO */

#manifiesto {
    height: auto;
    overflow-x: visible;
}

.manifiesto-text {
    width: 66vw;
}

.manifiesto-wrap {
    display: flex;
    flex-wrap: wrap;
}

.manifiesto-wrap .section-title {
    width: 100%;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/* Somos */

.somos-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#somos .section-title {
    width: 100%;
}

.somos-texto {
    width: 50%;
}

.ascii-home-3 {
    width: 50%;
    position: static;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .somos-texto {
        width: 100%;
    }
}

@media (max-width: 576px) {}


/* Clientlient */

#clientes {
    overflow-x: visible;
}

.clientes-list {
    text-align: center;
    display: flex;
}

.clientes-list p {
    margin: 0 auto;
    max-width: 650px;
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/* */

.embed-podcast-ltr-809o1j {
    background-color: #ff5252 !important;
}


/* FOOTER */

.footer {
    padding: 100px 0;
}