<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark") -}}class="dark" {{ end }}>
{{ partial "header.html" . }}

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=G-K7STPZSW3J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    {{ partial "head.html" . }}
    <div class="scroll-container">
        {{ partial "portada.html" . }} {{ partial "fixed-menu.html" . }} {{ partial "servicios.html" . }} {{ if .Params.seccionCaseStudy }} {{ partial "trabajos.html" . }} {{end}} {{ partial "manifiesto.html" . }} {{ partial "somos.html" . }} {{ partial "clientes.html"
        . }}

    </div>
    {{ partial "footer.html" . }}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript">
        var style = document.createElement('style');
        document.head.appendChild(style);
        style.sheet.insertRule('background-color: #ff5252 !important');
    </script>
</body>

</html>