<pre>


               /\
              //\\
             //__\\
            //____\\
            \\____//
             \\__//
             [|__|]
             [|__|]
             [|__|]
             [|__|]
             [|__|]
             [|__|]
             [|__|]
  /)         [|__|]        (\
 //\_________[|__|]________/\\
 ))__________||__||_________((
<_/         [  \/  ]        \_>
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            || || ||
            \\ || //
             \\||//
              \\//
          ____-\/-____
              -__-
             /    \
                     </pre>