<pre>
      |'.                     (|)                      .'|----
      |  '.                    |                     .'  |
      |    '.                 |O|                  .'    |
      |      '. _____________/===\______________ .'      |
      |        :             `\"/`   ______     :     .. |
      |        :      mmmmmmm  V    |--%%--|    :   .'|| |
      |        :      |  |  |       |-%%%%-|    :  |  || |
      |        :      |--|--| @@@   |=_||_=|    :  I  || |
      |        :      |__|__|@@@@@  |_\__/_|    :  |  || |
      |        :              \|/   ____        :  |  || |
      |        :;;        .'``(_)```\__/`````:  :  |  || |
      |        :||___    :=================:'|  :  | 0+| |
      |        :||===)   | |               | |  :  |  || |
      |        ://``\\___|_|_______________|_|__:  I  || |
      |      .'/'    \'  | '               | '   '.|  || |
      |    .'            |                 |       '. || |
      |  .'                                          '|| |
 _____|.'                                              '.|______    
                     </pre>